{% extends 'layout.html' %}

{% block contents %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        <li>{{ message }}</li>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="card text-center m-5">
    <div class="card-header">
        {{ post.title }}
    </div>
    <div class="card-body">
        {% if post.author == current_user %}
        <p class="card-text">{{ post.content }} </p>
        <a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-primary">Update post</a>
        <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#deleteModalCenter{{post.id}}">Delete post</button>
        {% else %}
        <p class="card-text">{{ post.content }}</p>
        {% endif %}

    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-sm-6 text-left">
                Author: {{ post.author.name }}
            </div>
            <div class="col-sm-6 text-right">
                Date Created : {{ post.date.strftime('%B %d %Y - %H:%M:%S') }}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModalCenter{{post.id}}" tabindex="-1" role="dialog"
    aria-labelledby="deleteModalCenter{{post.id}}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLongTitle">Delete post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete Article">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contents%}